body {
    background-color: rgb(129, 165, 132);
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.block {
    width: 90%;
    padding: 20px;
    margin: 12px auto;
    background-color: #eee;
    border-radius: 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: azure;
    background-color: black;
    flex-wrap: wrap;
    opacity: 0.7;
}

.heading {
    width: 100%;
    text-align: center;
    transition: 1s;
}

.heading h2 {
    margin: 10px ;
}

.intro:hover .heading {
    letter-spacing: 5px;
}

#wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    min-width: none;
}

#link {
    margin: 0 20px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    transition: 1s;
}

#introtext {
    width: 100%;
    padding: 20px;
    text-align: justify;
}

p {
    margin: 0 10px;
}

h1 {
    margin: 20px;
}

.intro:hover {
    transform: translate(0px, -20px);
}

.floor {
    background-color: black;
    opacity: 0.7;
    text-align: center;
    transition: 1s;
}

.floor:hover {
    color: #eee;
}

.heading:hover {
    letter-spacing: 5px;
}

a {
    color: #eee;
    text-decoration: none;
}

a:hover {
    color: rgb(161, 161, 161);
    cursor: pointer;
}

.floor::selection {
    background: transparent;
}

span {
    font-size:larger; 
    color: #558A84;
}

#gifdiv {
    width: 25%;
    min-width: 200px;
    transition: 1s;
 }

#gif {
    width: 100%;
    min-width: 200px;
    margin: auto;
}